[Unit]
Description=Buda Manager
Documentation=https://github.com/mxabierto/buda
Requires=flanneld.service
Requires=buda-storage.service
After=flanneld.service
After=buda-storage.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none

ExecStartPre=-/usr/bin/docker kill buda-manager
ExecStartPre=-/usr/bin/docker rm buda-manager
ExecStart=/usr/bin/docker run --name=buda-manager \
  --link buda-storage:storage \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -P mxabierto/buda-manager --docker
ExecStop=/usr/bin/docker stop buda-manager
