[Unit]
Description=Buda Cache
Documentation=https://github.com/mxabierto/buda
Requires=flanneld.service
Requires=buda-front.service
After=flanneld.service
After=buda-front.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none

ExecStartPre=-/usr/bin/docker kill buda-cache
ExecStartPre=-/usr/bin/docker rm buda-cache
ExecStart=/usr/bin/docker run --name=buda-cache \
  --link buda-front:backend \
  -p 80:6081 mxabierto/varnish
ExecStop=/usr/bin/docker stop buda-cache
