[Unit]
Description=Buda Storage - Use MongoDB + RocksDB for data storage
Documentation=http://blog.parse.com/announcements/mongodb-rocksdb-parse/
Requires=flanneld.service
After=flanneld.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none

ExecStartPre=/bin/sh -c "echo never > /sys/kernel/mm/transparent_hugepage/enabled"
ExecStartPre=/bin/sh -c "echo never > /sys/kernel/mm/transparent_hugepage/defrag"
ExecStartPre=-/usr/bin/docker kill buda-storage
ExecStartPre=-/usr/bin/docker rm buda-storage
ExecStartPre=-/usr/bin/docker pull mxabierto/mongodb-rocks
ExecStart=/usr/bin/docker run \
  --name=buda-storage \
  -v /home/core/buda/storage:/data/db \
  -p 27027:27017 mxabierto/mongodb-rocks
ExecStop=/usr/bin/docker stop buda-storage
